<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>

    <uses-feature android:name="android.hardware.camera" />

    <queries>
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />
    </queries>

    <meta-data
        android:name="com.google.android.gms.games.APP_ID"
        android:value="@string/app_id" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="AgriAutomationHub"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgriAutomationHub"
        tools:targetApi="31">
        <activity
            android:name=".ProfilePageActivity"
            android:exported="false" />
        <activity
            android:name=".StatewiseMandiActivity"
            android:theme="@style/Theme.AgriAutomationHub"
            android:exported="false" />
        <activity
            android:name=".SchemesActivity"
            android:exported="false" />
        <activity
            android:name=".MarketViewActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:theme="@style/Theme.AgriAutomationHub"
            android:exported="false" />
        <activity
            android:name=".FieldMeasureActivity"
            android:exported="false" />
        <activity
            android:name=".SellingPriceCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".CropDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyTermsActivity"
            android:exported="false" />
        <activity
            android:name=".CropRecommenderActivity"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".DeviceLinkActivity"
            android:exported="false" />

        <activity
            android:name=".Register"
            android:exported="false"
            android:theme="@style/Theme.AgriAutomationHub" />
        <activity
            android:name=".CropCareActivity"
            android:exported="false" />
        <activity
            android:name=".Automatic_Irrigation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AgriAutomationHub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BackgroundInternetService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />
    </application>

</manifest>